@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Varela+Round&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"); */
@import "tailwindcss";

body {
  background-color: #0c0c0c;
  color: White;
  /* font-family: "Merriweather", serif; */
  font-family: "Varela Round", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 500;
  color: #e0e0e0;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}
@media (max-width: 480px) {
  h2 {
    font-size: 28px; /* Even smaller font for mobile screens */
  }
}
h3 {
  font-size: 28px;
}
@media (max-width: 480px) {
  h3 {
    font-size: 24px; /* Even smaller font for mobile screens */
  }
}
h4{
  font-size: 20px;
}
